@import '~antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    min-height: 100vh;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;
}


  h1,h2,h3,h4 {
    font-weight: bold;
  }
  p, li, span, a{
    font-weight: regular;
    @apply text-base
  }


  /* Override Antd CSS */
  .ant-collapse .ant-collapse-item  .ant-collapse-header{
    color:#242a38;
    font-weight: bold;
    opacity: 0.9;
    font-size: large;
    font-family: 'Playfair Display', serif;
}

.ant-dropdown-menu-item{
  @apply hover:text-white
}

.ant-dropdown-menu-title-content{
  @apply hover:bg-devarana-blue hover:text-white transition-colors duration-300 ease-in-out text-devarana-graph px-5 w-full text-center
}

.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title{
  @apply p-0
}

/* Nuevos CSS */
.h-sider{
  height: calc(100vh - 56px);
}

.modalButton{
  @apply hover:bg-devarana-blue hover:text-white py-2 transition-colors duration-300 ease-in-out text-devarana-graph px-5 w-full text-center
}


.antdInput{
  @apply text-devarana-midnight text-sm pl-2 opacity-80
}


.gradient-black{
  background: linear-gradient(190deg, #42424A 1.34%, #191919 100%);
}

.divider{
  flex-shrink: 0;
  border-top: 0px solid rgba(0, 0, 0, 0.08);
  border-right: 0px solid rgba(0, 0, 0, 0.08);
  border-left: 0px solid rgba(0, 0, 0, 0.08);
  height: 0.0625rem;
  margin: 1rem 0px;
  border-bottom: none;
  opacity: 0.25;
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0)) !important;
}

.divider-2{
  flex-shrink: 0;
  border-top: 0px solid rgba(0, 0, 0, 0.12);
  border-right: 0px solid rgba(0, 0, 0, 0.12);
  border-left: 0px solid rgba(0, 0, 0, 0.12);
  background-color: transparent;
  height: 0.0625rem;
  margin: 1rem 0px;
  border-bottom: none;
  opacity: 0.25;
  background-image: linear-gradient(to right, rgba(52, 71, 103, 0), rgba(52, 71, 103, 0.4), rgba(52, 71, 103, 0)) !important;
}

.sidebar-h{
  height: calc(100vh - 1.5rem);
}


.layout-size-80{
  max-width: calc(100% - 80px);
}

.layout-size-250{
  max-width: calc(100% - 250px);
}


.ant-switch{
  @apply bg-gray-300
}
.ant-switch-checked{
  @apply bg-gray-700
}